/app-audit-server/
/app-authorization-server/
/app-backend-server/
/app-base-server/
/app-frontend-application/
/app-i18n-server/
/app-notification-server/
/app-resource-server/
/shared-commons/
/shared-dto/
/utils-admin-server/
/utils-config-server/
/utils-discovery-server/
/utils-monitoring-application/
/utils-registry-server/
/utils-codegen
/tree-flow

*.iml